.fontStyle{
    font-family: Calibri;
}
.titleText{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #4d7123;
    color:#b2ba31;
}
.personalInfoAlign{
    text-align: center;
    background-color: #4d7123;
}
.sectionHeading{
    font-size: 25px;
    font-weight: bold;
    color: #b2ba31;
}
.emailColor{
    color:#b2ba31
}
.textFloatRight{
    float: right;
}
.listMargin{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.bulletFontSize{
    font-size: 16px;
    font-weight: bold;
    color: #4c7123;
}
.sectionTitleFont{
    font-size: 17px;
    font-weight: bold;
    color: #4c7123;
}
.secondBulletFont{
    font-size: 13px;
}
.subSectionHeading{
    font-weight: bold;
}
.vertiBGround{
    height: 950px;
    width: 50px;
    float: left;
    background-color: #4d7123;
}
.eggDimensions{
    height: 50px;
    width: 50px;
}